*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url("../img/fundo.jpg");
	background-position: center;
	
}


/*Criando estilo do content */
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 170px;


}

/*Criando estilo da div 1 - INICIO*/
.content-div1{
	background-color: tomato;
	margin-right: 150px;
	padding: 50px;
	border-radius: 5px;
	width: 25%;


}

header{
	margin-bottom: 30px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.content-altura h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.content-peso h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	margin-right: 12px;
}

.content-resultado h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.content-altura{
	margin: 60px 0px;
}

.content-peso{
	margin: 60px 0px;
}

.content-resultado{
	margin: 60px 0px;
}

#content-altura-campo{
	width: 65%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
	font-size: 1.7em;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

#content-peso-campo{
	width: 68%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
	font-size: 1.7em;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

#content-resultado-campo{
	width: 53%;
	border: none;
	background: tomato;
	border-bottom: 1px solid #fff;
	color: black;
	font-size: 1.7em;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

/*Criando estilo da div 1 - FIM */


/*Criando estilo da div 2 - INICIO*/

.content-div2{
	background-color: tomato;
	padding: 116px 30px;
	border-radius: 5px;
	width: 25%;

}

.content-div2-titulo{
	margin-bottom: 60px;
	margin-top: -50px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.content-div2-IMC{
	margin: 60px 0px;
}
.content-div2-classificacao{
	margin: 60px 0px;
}

.content-div2-obesidad{
	margin: 60px 0px;
}

.content-div2-IMC h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-weight: bold;
}

.content-div2-classificacao h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.content-div2-obesidade h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

#content-campo-imc{
	width: 80%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
	font-size: 1.7em;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

#content-campo-classificao{
	width: 78%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
	font-size: 1.7em;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

#content-campo-obesidade{
	width: 60%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
	font-size: 1.7em;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

/*Estilizando botão*/
.botao{
	text-align: center;
}

#button{
	padding: 5px 15px;
	border-radius: 5px;
	border: none;
	background-color: MediumSeaGreen;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

/*Criando estilo da div 2 - FIM*/