*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*Criando estilo do content */
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;


}

/*Criando estilo da div 1 - INICIO*/
.content-div1{
	background-color: tomato;
	margin-right: 150px;
	padding: 50px;
	border-radius: 5px;

}

header{
	margin-bottom: 30px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.content-altura h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.content-peso h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	margin-right: 12px;
}

.content-resultado h4{
	display: inline;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.content-altura{
	margin: 60px 0px;
}

.content-peso{
	margin: 60px 0px;
}

.content-resultado{
	margin: 60px 0px;
}

#content-altura-campo{
	width: 65%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
}

#content-peso-campo{
	width: 68%;
	border: none;
	background-color: tomato;
	border-bottom: 1px solid #fff;
}

#content-resultado-campo{
	width: 53%;
	border: none;
	background: tomato;
	border-bottom: 1px solid #fff;
}

/*Criando estilo da div 1 - FIM */


/*Criando estilo da div 2 - INICIO*/

.content-div2{

}
/*Criando estilo da tabela*/
.content-div2-tabela, th, td{
	border: 1px solid black;
}

tr{
	text-align: center;
}
/*Criando estilo da div 2 - INICIO*/